@model FP.Models.FinancialAccount
@{ Layout = null;}
@{
    ViewBag.Title = "Delete";
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><img src="~/img/fp.png" /></h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <h2>Delete</h2>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>FinancialAccount</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AccountType.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountType.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Household.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Household.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActualBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActualBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReconciledBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReconciledBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Include)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Include)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
