@model FP.Models.Household

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to leave this household?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DissolvedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DissolvedDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {


        <div class="form-actions no-color">
            <input type="submit" value="Leave" class="btn btn-default" /> |

            <a href="@Url.Action("LeaveHouseholdConfirm", "Households", new {id = Model.Id })">Leave Household</a>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
