@model FP.Models.BudgetHouseholdViewModel
@{
    ViewBag.Title = "BudgetHousehold";
}

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
@{ var userid = User.Identity.GetUserId();

}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css"> 
    
</head>

<body>

    <div class="parallax-slider">
        <!-- Slider (Parallax Slider) -->
        <div id="da-slider" class="da-slider">
            <!-- Each slide should be enclosed inside "da-slide" class -->
            <div class="da-slide">
                <div class="slide-details">
                    <!-- Heading -->
                    <h2><span>Clean and Professional</span></h2>
                    <!-- Para -->
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                    <!-- Read more link -->
                    <a href="#" class="da-link">Read more</a>
                    <!-- Image -->
                    <div class="da-img"><img src="~/img/parallax/1.png" alt="image01" /></div>
                </div>
            </div>
            <div class="da-slide">
                <h2><span>40+ Pagest</span></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/img/parallax/2.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2><span>6 Colors</span></h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/img/parallax/3.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2><span>Quality Control</span></h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/img/parallax/4.png" alt="image01" /></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div>
    <br /><br /><br />
    <h4>&nbsp;&nbsp;&nbsp; Welcome  @Model.household.Users.FirstOrDefault(u => u.Id == userid).FullName</h4><br /><br />

    <div class="col-md-12 well">
        <p>
            <h4> Household Budgets</h4>
        </p>
    </div>
    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-variant:small-caps">Budget Portal</h2>
                    <h4>Click image below to view your budget details</h4><br />
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading ends -->
    <!-- Page content starts -->

    <div class="content about-two">
        <div class="container">
            <div class="row">

                @foreach (var budget in Model.budgets)
            {
                    <div class="col-md-3 col-sm-6  well" style="margin:0 10px 0 10px; box-shadow: 10px 10px 5px #888888;">
                        <!-- Staff #1 -->
                        <div class="staff">
                            <!-- Picture -->
                            <a href="@Url.Action("Details", "Budgets", new { id = budget.Id })">
                                <div class="pic">
                                    <img src="~/img/horizontal-1714232.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <!-- Details -->
                            <div class="details">
                                <!-- Name and designation -->
                                <div class="desig pull-left">
                                    <p class="name">@budget.Name</p>
                                    @*<em>subtitle</em>*@
                                </div>
                                <!-- Social media details. Replace # with profile links -->
                                <div class="asocial pull-right">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Description -->
                                <p class="adesc">@budget.Description </p>
                            </div>
                        </div>
                    </div>
                }


                <div class="pull-right">

                    @if (Request.IsAuthenticated)
            {

                        <a type="button" class="btn" style="color:white; background-color:#c5601f; width:200px; margin-bottom:7px" href="@Url.Action("Create", "FinancialAccounts")" data-toggle="modal" data-target="#myModalAccountCreate">Add Accounts</a><br />

                        <a type="button" class="btn" style="color:white; background-color:#c5601f;width:200px; margin-bottom:7px" href="@Url.Action("BudgetsCreateModal","Budgets", new { id = userid })" data-toggle="modal" data-target="#myModal1">Create a New Budget</a><br />
                        <a type="button" class="btn" style="color:white; background-color:#c5601f; width:200px; margin-bottom:7px" href="@Url.Action("CreateInvitationsModal","Invitations")" data-toggle="modal" data-target="#myModal1">Invite Others to Join</a><br />
                        <a type="button" class="btn" style="color:white; background-color:#c5601f; width:200px; margin-bottom:7px" href="@Url.Action("LeaveHousehold", "Households", new { id = Model.household.Id })" data-toggle="modal" data-target="#LeaveHousehold">Leave Household</a><br />
                        <a type="button" class="btn" style="color:white; background-color:#c5601f; width:200px; margin-bottom:7px" href="@Url.Action("Edit", "Households", new { id = Model.household.Id })" data-toggle="modal" data-target="#EditHousehold">Edit Household</a><br />
                        if (ViewBag.UserBudgets.Count != 0)
                        {
                            <a type="button" class="btn btn-success" style="color:white; width:200px;" href="@Url.Action("Index","Budgets", new { id = userid })">View My Budgets</a>
                        }

                    }
                </div>

            </div>
          
        </div>
        <br /><br /><br />
        <p>

            @if (Request.IsAuthenticated)
            {
                <a href="@Url.Action("BudgetsCreateModal","Budgets", new { id = userid })" data-toggle="modal" data-target="#myModal1">Create a New Budget</a>
            }


        </p>
        <hr />
        <table class="table">
            Budgets Summary Table
            <tr>
                <th>
                    Budget Created By
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.budget.Name)
                </th>
                <th>
                    Budget Amount
                </th>
              

                <th>
                    Budget Start Date
                </th>


                <th>
                    Budget Duration Period
                </th>

                <th>Actions</th>
            </tr>


            @foreach (var item in Model.budgets)
            {
                <tr>

                    <td>
                        @foreach (var user in ViewBag.BudgetCreator)
                {
                    if (user.Id == item.UserId)
                    {
                                @user.FullName;
                    }
                }

                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SuggestedAmount)
                    </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.BudgetStartDate)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.BudgetDurationPeriod.NumberOfDays) Days  @*(@Html.DisplayFor(modelItem => item.BudgetStartDate)) -- @item.BudgetStartDate.AddDays(item.BudgetDurationPeriod.NumberOfDays))*@
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#EditBudget" href="@Url.Action("Edit","Budgets", new { id = item.Id })">Edit</a> |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        <a data-toggle="modal" data-target="#DeleteBudget" href="@Url.Action("Delete", "Budgets", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }

        </table>
        <br /><br /><hr />
    </div>
    <div class="col-md-12 well">
        <p>

            <h4>My Household:  @Model.household.Name</h4>

        </p>
    </div>
    <h2 style="font-variant:small-caps">Household Details</h2>
    <hr />

    <br /><br />
    <div class="container">
        @{ var temporaryaccountmessage = TempData["NotYourAccountmessage"];}
        @temporaryaccountmessage
        @{ var accountmessage = TempData["accountmessage"];}
        @accountmessage
        @if (accountmessage == null)
        {
            var budgetmessage = TempData["budgetmessage"];
            @budgetmessage
        }

        <div class="row">
            <div class="col-md-7">
                <hr />
                <div class="table-responsive well" style="border:none; box-shadow: 10px 10px 5px #888888;">
                    <table class="table table-striped table-hover table-responsive" id="example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Members</th>
                                <th>Accounts</th>
                                <th>Remove</th>
                                <th>Budgets</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var member in Model.household.Users)
                            {
                                <tr>

                                    <td><img src="~/img/avatar-294479.png" style="height:30px" /><span>&nbsp;&nbsp;&nbsp;</span></td>
                                    <td>@member.FullName</td>
                                    <td>
                                        @foreach (var account in Model.household.Accounts)
                                        {
                                            if (account.AccountHolderUserId == member.Id)
                                            {
                                                if (userid == account.AccountHolderUserId)
                                                {
                                                    <a href="@Url.Action("Details", "FinancialAccounts", new { id = account.Id })">
                                                        @account.Name<br /><br />
                                                    </a>
                                                }
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var account in Model.household.Accounts)
                                        {
                                            if (account.AccountHolderUserId == member.Id)
                                            {
                                                if (userid == account.AccountHolderUserId)
                                                {
                                                    <a href="@Url.Action("Delete", "FinancialAccounts", new { id = account.Id })" data-toggle="modal" data-target="#DeleteAccount"><span class="fa fa-trash-o"></span></a><br /><br />
                                                }
                                            }
                                        }

                                    </td>
                                    <td>
                                        @foreach (var budget in Model.budgets)
                                        {
                                            if (budget.UserId == member.Id)
                                            {
                                                <a href="@Url.Action("Details","Budgets", new { id = budget.Id })">
                                                    @budget.Name<br /><br />
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>                   
                <br />
                <br />
            </div>
            <div class="col-sm-5"style="margin-left:auto; margin-right:auto; text-align:center">
                <img src="~/img/connections-2099068.png" style="height:240px; margin-top:50px"/>             
            </div>
        </div>
    </div>
    <br /><br />
    <br /><br /><br />
    </div>
    <div id="myModalInvite" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">    
                </div>
                <div class="modal-body">           
                </div>
                <div class="modal-footer">           
                </div>
            </div>
        </div>
    </div>
    <div id="myModalAccountCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">        
                </div>
                <div class="modal-body">          
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="EditHousehold" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">   
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer"> 
                </div>
            </div>
        </div>
    </div>
    <div id="LeaveHousehold" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="AccountDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">    
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="DeleteAccount" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body"> 
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="EditBudget" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">  
                </div>
                <div class="modal-footer">  
                </div>
            </div>
        </div>
    </div>
    <div id="DeleteBudget" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <br /><br />   
    <br /><br /><br />






    @section scripts {
   
        <script src="~/js/jquery.dataTables.min.js"></script>  Data tables 

        <script>
            $(document).ready(function () {
     
                $('#example').dataTable();
            });
        </script>
    }

    <br /><br>
</body>



</html>